<html>
<head>
    <title>Home</title>
    <style>
        body {
            background-color: aquamarine;
            font-size: 2em;
        }
        h1{
            color: darkslateblue;
        }
        a{
            color: purple;
            text-decoration: none;
        }
    </style>
</head>
<body>
<h1>Home Page</h1>
<a href="/login">Next login page</a>
<br>
<a href="/main">Next MAIN page</a>
</body>
</html>